strong {
  font-weight: 600;
}
.payments-page {
  background: #fff;
}
.payments-catg-tab-box {
  height: 100%;
  gap: 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
  max-width: 1180px;
  margin-bottom: 0;
}
.payments-catg-tab-show {
  text-align: center;
  line-height: 22px;
  padding: 16px 24px;
  color: rgb(2, 3, 9);
  font-weight: unset;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: none;
  width: auto;
}

.payments-catg-tab {
  text-align: center;
  line-height: 22px;
  padding: 16px 24px;
  color: rgb(2, 3, 9);
  font-weight: unset;
  font-size: 16px;
  background-color: rgb(235, 236, 239);
  border: none;
  box-shadow: none;
  width: auto;
}
.payments-catg-page-show {
  padding: 32px 0;
  max-width: 1180px;
  margin: auto;
  background-color: #fff;
}
.payments-catg-page {
  display: none;
}
.payments-content-box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 40px 24px;
  flex-direction: column;
  gap: 16px;
}
.payments-empty-span {
  font-size: 16px;
  line-height: 20px;
  color: rgb(2, 3, 9);
}

.payments-operations-box {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.topup-operations-box {
  height: 88px;
  padding: 16px;
  display: grid;
  grid-template-areas: "image info button";
  gap: 16px;
}
.topup-coin-img {
  grid-area: image;
}
.current-balance-box {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.current-balance {
  font-size: 16px;
  line-height: 20px;
  color: #020309;
  margin-bottom: 8px;
}
.topup-balance-button-box {
  grid-area: button;
}
.topup-balance-button {
  --displayUnderline: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 0.7px;
  line-height: 20px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
  --textColor: #ffffff;
  --bgColor: #0071ce;
  --borderColor: #0071ce;
  --outlineColor: #bde0ff;
  background: var(--bgColor);
  color: var(--textColor);
}

.topup-balance-button:hover {
  border: 5px solid #0071ce;
  color: var(--bgColor);
  background: var(--textColor);
  width: auto;
}

.payments-content-box {
  padding-left: 0;
  padding-right: 0;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
}

.payments-content-box-i {
  margin-left: 0;
  margin-right: 0;
}
.topup-warning-box-o {
  border-radius: 4px;
  overflow-y: auto;
  background-color: rgb(255, 244, 205);
  width: 100%;
  max-height: 74px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 22px;
  padding: 19px 16px;
}
.topup-warning-box-i {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 8 1 0%;
  float: left;
}
.topup-warning {
  font-size: 14px;
  line-height: 18px;
  color: rgb(2, 3, 9);
  margin: 0px;
}

.payments-steps-step {
  clear: both;
  margin-left: 35px;
  padding: 0 0 20px 65px;
  position: relative;
}
.payments-steps-step::before,
.payments-steps-step::after {
  content: " ";
  display: table;
}
.payments-steps-step::after {
  clear: both;
}

.steps-step-num {
  background: #fff;
  border: 3px solid #d1d1d1;
  border-radius: 35px;
  color: #d1d1d1;
  display: block;
  font-size: 21px;
  font-weight: 600;
  height: 70px;
  left: -35px;
  line-height: 65px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 70px;
}
.steps-step-label {
  color: #505152;
  display: table-cell;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  line-height: 18px;
  vertical-align: middle;
}
.steps-step-label span {
  color: #999;
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.steps-step-label a {
  color: #00bffd;
}

.topup-checkbox-item {
  display: block;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 145px;
}

input[type="radio"]:not(:checked),
input[type="radio"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}
input[type="radio"]:checked + .topup-checkbox-item-label {
  background: #00bffd;
  border: none;
  box-shadow: 0 1px 2px #888;
  color: #fff;
}

input[type="radio"] + .topup-checkbox-item-label {
  background: #fff;
  border: 3px solid #00bffd;
  color: #142355;
  display: block;
  height: 125px;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  text-align: center;
}

input[type="radio"] + .topup-checkbox-item-label span,
input[type="radio"] + .topup-checkbox-item-label strong {
  display: block;
  position: relative;
  z-index: 2;
}

input[type="radio"] + .topup-checkbox-item-label strong {
  font-size: 38px;
}

input[type="radio"] + .topup-checkbox-item-label sub {
  font-size: 18px;
  line-height: 40px;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.4em;
  padding: 0 4px;
}

.topup-checkboxes .wallet-icon {
  color: #31b1e9;
  display: block;
  font-size: 90px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: -10px;
  z-index: 1;
}

input[type="radio"]:checked + .topup-checkbox-item-label .wallet-icon {
  opacity: 1;
}
.topup-amount-slider-box {
  float: left;
  margin: 50px 0;
}

.topup-amount-slider {
  background: #fff;
  border-bottom: 3px solid #00bffd;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  border-top: 3px solid #00bffd;
  display: block;
  position: relative;
  height: 12px;
  width: 100%;
}
.topup-amount-range {
  position: relative;
}

.topup-amount-range-min,
.topup-amount-range-max {
  color: #142355;
  display: block;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 35px;
}
.topup-amount-range-min {
  left: 0;
}
.topup-amount-range-max {
  right: 0;
}
.topup-current-amount {
  color: #142355;
  font-size: 36px;
  font-weight: 900;
  margin-left: -23px;
  margin-top: -50px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
.topup-amount-calc-box {
  float: left;
  margin-top: 30px;
}
.topup-amount-calc-label {
  color: #404040;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.topup-amount-calc-value {
  color: #142355;
  font-weight: 900;
}

.payment-method-label {
  display: block;
  font-weight: 900;
  padding: 25px 0;
}
.topup-payment-method {
  display: flex;
  align-items: center;
}
.topup-payment-method input[type="radio"] {
  color: #0071ce;
  border: 2px solid black;
  visibility: visible;
  left: auto;
}
.payment-method-icon {
  height: 27px;
  width: 72px;
  margin-left: 20px;
}
.payment-method-icon img {
  width: 100%;
  height: 100%;
}
.topup-amount-summary-box {
  background: #f4f8e7;
  font-size: 18px;
  padding: 20px;
  position: relative;
  display: inline-block;
}
.topup-amount-summary-label {
  display: block;
  float: left;
  width: 40%;
  margin: 10px 0 0;
  font-size: 16px;
}
.topup-amount-summary-total {
  display: block;
  color: #142355;
  float: right;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 15px;
  text-align: right;
  width: 55%;
}

.topup-amount-cancel-link {
  color: #002539;
  display: block;
  float: left;
  margin: 45px 0 0;
  font-size: 16px;
}
.topup-submit-btn {
  clear: right;

  float: right;
  height: auto;
  padding: 5px 28px;
  background: #c82814;
  box-shadow: 0 1px 2px #af4d41;
  border: none;
  border-radius: none !important;
  color: #fff;
  cursor: pointer;

  font-size: 14px;
  font-weight: 600;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  text-align: center;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.payment-modal-header {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(235, 236, 239);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 24px;
  min-height: initial;
  height: 56px;
}
.modal-content {
  border: none;
  border-radius: 1px;
  box-shadow: 0 0 5px rgba(20, 35, 85, 0.35);
  background-clip: padding-box;
  outline: 0;
  position: relative;
  background-color: #fff;
}
.payment-modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.payment-modal-heading {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: normal;
  font-style: normal;
}

.payment-modal-tip {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.16px;
  font-style: normal;
}
.payment-modal-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}
.payment-type-sel-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.payment-type-sel-box :first-child {
  margin-right: 16px;
}

.payment-type-sel-box div {
  margin-bottom: 16px;
  align-items: center;
}
.type-sel-label {
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  margin-left: 10px;
}
.payment-modal-form input[type="radio"] {
  visibility: visible;
  left: auto;
  min-width: 24px;
  min-height: 24px;
  height: 24px;
  width: 24px;
  margin-left: 16px;
}
.type-sel-label-text {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: normal;
  font-style: normal;
  vertical-align: baseline;
  height: auto;
  align-self: center;
  margin: 0 0 0 8px;
}
.payment-modal-form > .payment-input-box {
  margin-bottom: 16px;
  width: calc(50% - 8px);
  margin-right: 8px;
}
.payment-modal-form > .payment-input-box:nth-child(4) {
  width: 100%;
}
.payment-input-box .payment-input-label {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.16px;
  font-style: normal;
  display: inline-block;
  width: 100%;
  color: #020309;
  margin: 0;
  margin-bottom: 4px;
}
.payment-input-box .payment-input {
  min-height: 36px;
  height: 36px;
  padding: 0 8px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: normal;
  font-style: normal;
  display: inline-block;
  border: 1px solid #bfc0c3;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
  color: #020309;
  background-color: #fff;
}
.payment-input-box input[type="text"]:focus {
  border-color: #0071ce;
  outline: none;
}
.req-input-box input[type="text"]:focus {
  border-color: #c82814;
}
.req-input-error-hide {
  display: none;
}
.req-input-error-msg {
  color: #c82814;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: normal;
  font-style: italic;
  display: inline-block;
  width: 100%;
  margin: 0;
  margin-top: 4px;
}
.payment-opt-redirect-btn {
  background-color: #c82814;
  color: #fff;
  border: 0;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: normal;
  font-style: normal;
  min-height: 44px;
  height: 44px;
  padding: 0 16px;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all 0.3s ease;
}
.payment-opt-redirect-btn:hover {
  background-color: #ee6554;
  color: #fff;
}
.payment-modal-form > button {
  margin-top: 16px;
  width: 100%;
  height: 44px;
  max-height: calc(12 * calc(24px + 8px));
}
@media screen and (width <768px) {
  .payments-catg-tab-box {
    display: none;
  }
}
@media (min-width: 768px) {
  .payments-steps-step-chain {
    border-left: 1px solid #d1d1d1;
  }
}
@media (min-width: 768px) {
  .steps-step-label-box {
    width: 58.3333333333%;
  }
}

@media (min-width: 768px) {
  .steps-step-label {
    height: 76px;
  }
}
@media (min-width: 768px) {
  .topup-amount-slider-box {
    width: 460px;
  }
}
@media (min-width: 769px) {
  .topup-amount-summary-box {
    float: left;
    width: 30%;
    padding: 30px;
  }
}

@media (min-width: 768px) {
  .topup-payment-method {
    float: left;
    margin: 0 50px 30px -10px;
    width: 64%;
  }
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 1025px) {
  .steps-step-label-box {
    width: 41.6666666667%;
  }
}
@media (min-width: 1025px) {
  .topup-checkbox-item {
    width: 240px;
  }
}

@media (min-width: 1025px) {
  input[type="radio"] + .topup-checkbox-item-label {
    padding: 25px 0 15px !important;
  }
}

@media (min-width: 1025px) {
  .topup-checkboxes {
    float: left;
    width: 54%;
  }
}

@media (min-width: 1025px) {
  .topup-current-amount {
    font-size: 36px;
    margin-left: -35px;
    margin-top: -70px;
  }
}

@media (min-width: 1025px) {
  .topup-amount-calc-value {
    font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .payment-modal-header {
    height: 44px;
  }
}
