/* Hide scrollbar by default */
::-webkit-scrollbar {
  opacity: 0;

  height: 2px;
  margin-top: 2px;
}

/* Show scrollbar on hover */
.home-product-row:hover::-webkit-scrollbar {
  opacity: 1;
}

/* Set scrollbar track color */
::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 2px;
}

/* Set scrollbar thumb color and smoothness */
::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
}

/* Hover effect for smoother scrolling */
::-webkit-scrollbar-thumb:hover {
  background-color: #c4c4c4;
}

.home-product-row {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  overflow-x: auto; /* Enable horizontal scroll */
  scroll-behavior: smooth;
  white-space: nowrap; /* Prevent wrapping */
  padding: 10px 0; /* Optional padding for spacing */
}

.home-product-row::-webkit-scrollbar-thumb {
  background-color: grey; /* Color of the thumb */
  border-radius: 15px; /* Rounded edges */
}

.home-product-row::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
}

.home-product-heading {
  line-height: 34px;
  font-weight: 700;
  color: #020309;
  margin: 20px;
  font-size: 22px;
}

.home-product-section {
  justify-content: center;
  position: relative;
  margin: 50px 30px;

  padding: 10px;
}

.home-product-header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.show-home-product-link {
  margin: 10px 20px;
}
